.w-webflow-badge {
    display: none!important;
}
.badge-flex {
    display: none!important;
}
.logo {
    width: 150px;
    height: 124px!important;
}
.footer-logo {
    width: 170px;
    height: 150px!important;
}